<ng-container>
  <label style="font-size: 14pt; font-weight: bold; margin-bottom: 100px">
    Spacecrafts
  </label>
  <div class="search">
    <form class="k-form" [formGroup]="searchForm">
      <kendo-formfield>
        <input
          kendoTextBox
          #title
          [formControlName]="'title'"
          [style.width]="'350px'"
          type="text"
          placeholder="Search the API"
        />
      </kendo-formfield>
    </form>
    <button kendoButton [primary]="true" (click)="saveForm(searchForm.value)">
      Save
    </button>
  </div>
  <div *ngIf="SuccessfulSearch">
    <legend>
      Searched for phrase {{ searchForm.value.title }}. There were
      {{ totalElements }} result.
      <div *ngIf="totalElements > pageSize">
        First {{ pageSize }} are shown.
      </div>
    </legend>
    <kendo-grid
      [kendoGridBinding]="spacecrafts"
      [skip]="skip"
      [pageable]="true"
      [pageSize]="pageSize"
      (pageChange)="pageChange($event)"
    >
      <kendo-grid-column field="name" title="name"></kendo-grid-column>
      <kendo-grid-column field="status" title="status"></kendo-grid-column>
      <kendo-grid-column
        field="dateStatus"
        title="dateStatus"
      ></kendo-grid-column>
    </kendo-grid>
  </div>
</ng-container>
