
ng-container{
    background-color: rgb(61, 58, 58);
}
.search{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
legend{
    text-align: center; background-color: darkgrey; margin-bottom: 20px;
}